<?xml version='1.0' encoding='utf-8'?>
<widget id="org.usd21.firstprinciples" version="2.9.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>First Principles</name>
    <description>
        The elementary teachings, according to the scriptures of the Bible, about what it means to be a disciple of Jesus.
    </description>
    <author email="firstprinciples@usd21.org" href="http://usd21.org/m/">
        USD21
    </author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="fullscreen" value="true" />
    <preference name='phonegap-version' value='cli-7.0.1' />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="false"/>
    <preference name="FadeSplashScreenDuration" value="0"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <icon src="icon.png" />
    <splash src="res/screen/ios/Default@2x~universal~anyany.png" />

    <platform name="browser">
        <preference name="SplashScreenDelay" value="0" />
        <preference name="SplashScreen" value="res/screen/ios/Default@2x~universal~anyany.png" /> <!-- defaults to "/img/logo.png" -->
        <preference name="SplashScreenBackgroundColor" value="#233559" /> <!-- defaults to "#464646" -->
        <preference name="ShowSplashScreen" value="true" /> <!-- defaults to "true" -->
        <preference name="SplashScreenWidth" value="1200" /> <!-- defaults to "170" -->
        <preference name="SplashScreenHeight" value="1200" /> <!-- defaults to "200" -->
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" mode="replace">
            <false/>
        </config-file>
        <icon src="images/icons/rob20130621/57x57.png" width="57" height="57" />
        <icon src="images/icons/rob20130621/72x72.png" width="72" height="72" />
        <icon src="images/icons/rob20130621/114x114.png" width="114" height="114" />
        <icon src="images/icons/rob20130621/144x144.png" width="144" height="144" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-installLocation" value="auto" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="true" />

        <!-- Icons: -->
        <icon src="images/icons/rob20130621/36x36.png" width="36" height="36" density="ldpi" />
        <icon src="images/icons/rob20130621/48x48.png" width="48" height="48" density="mdpi" />
        <icon src="images/icons/rob20130621/72x72.png" width="72" height="72" density="hdpi" />
        <icon src="images/icons/rob20130621/96x96.png" width="96" height="96" density="xhdpi" />

        <!-- Portrait splash: -->
        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>

        <!-- Landscape splash: -->
        <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
        <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
        <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
        <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>

    </platform>

    <platform name="winphone" /> 
    <engine name="android" spec="^6.2.3" />
    <engine name="ios" spec="^4.4.0" />
    <engine name="browser" spec="^4.1.0" />
    <plugin spec="https://github.com/apache/cordova-plugin-splashscreen.git" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin spec="https://github.com/katzer/cordova-plugin-hidden-statusbar-overlay" />
</widget>
